<div class="container">
  <div class="row">
    <div style="border-radius: 4px;" class="col-8 border">
      <div style="padding-top: 12px; padding-bottom: 10px;" class="row">
        <div class="col-3">
          <a
            (click)="abrirModalExtrato(modalExtrato)"
            class="btn btn-outline-info btn-block text-center btn-lg"
            href="#"
            >Extrato</a
          >
        </div>
        <div class="col-5">
          <h3
            style="padding-right: 30px; font-family: Verdana; margin-top: 05px;"
            class="text-center"
          >
            Conta Corrente
          </h3>
        </div>
        <div class="col-4">
          <div class="border border-primary" style="border-radius: 4px;">
            <h5 style="margin-top: 05px;" class="text-center">
              <strong>
                Saldo
              </strong>
              {{ valorTotalCorrente | currency: "R$: " }}
            </h5>
          </div>
        </div>
      </div>

      <table class="table table-striped text-center" style="height: 100px;">
        <thead>
          <tr>
            <th>Nome Conta</th>
            <th>Tipo Conta</th>
            <th>Saldo</th>
            <th>Conta</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conta of contas">
            <td>{{ conta.nomeConta }}</td>
            <td *ngIf="conta.tipoConta == 0">Corrente</td>
            <td *ngIf="conta.tipoConta == 1">Poupanca</td>
            <td>{{ conta.saldo | currency: "R$: " }}</td>
            <td>{{ conta.digitosConta | mask: "00.0000-0" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col border bg-danger">
      <h3 style="font-family: Verdana; margin-top: 8px;" class="text-center">
        Conta Poupanca
      </h3>
      <hr />
      <div style="height: 105px;" class="row text-center">
        <div class="col">
          <p class="h4">Valor Em Conta</p>
          <h4 style="margin-top: 20px;">
            {{ valorTotalPoupanca | currency: "R$: " }}
          </h4>
        </div>
      </div>
      <div style="height: 155px;" class="row bg-secondary text-center">
        <div style="margin-top: 25px;" class="col divAgora">
          <p class="h5">Valor Guardado</p>
          <h4 style="margin-top: 20px;">R$: 2000</h4>
        </div>
        <div class="col btnDetails">
          <a style="margin-top: 35px;" class="btn btn-info btn-block btn-lg"
            >Detalhes</a
          >
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 30px;" class="row">
    <div class="col-8">
      <div class="row">
        <div class="col">
          <a tooltip="Deposito" class="btn btn-outline-success btn-lg" (click)="abrirModalDeposito(modalDeposito)"
            >Depositar</a
          >
        </div>
        <div class="col">
          <a class="btn btn-outline-danger btn-lg" href="#">Pagamento</a>
        </div>
        <div class="col">
          <a
            (click)="abrirModalTransferencia(modalTransferencia, historico)"
            class="btn btn-outline-info btn-lg"
            href="#"
            >Transferencia</a
          >
        </div>
      </div>
    </div>
    <div class="col text-center">
      <a href="#" class="btn btn-outline-secondary btn-lg">Resgatar Valor</a>
    </div>
  </div>
</div>

<div
  bsModal
  #modalExtrato="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Large modal
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="modalExtrato.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset>
          <tab heading="Julho" id="tab">
            <div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Data Transacao</th>
                    <th>Valor Transacao</th>
                    <th>Descricao Transacao</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let historico of historicos">
                    <td>{{ historico.dataTransacao | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ historico.valor | currency: 'R$: ' }}</td>
                    <td>
                      <button class="btn btn-sm btn-danger" *ngIf="historico.operacao == 0">Saque</button>
                      <button class="btn btn-sm btn-secondary" *ngIf="historico.operacao == 1">Deposito</button>
                      <button class="btn btn-sm btn-success" *ngIf="historico.operacao == 2">Apliacao Poupanca</button>
                      <button class="btn btn-sm btn-dark" *ngIf="historico.operacao == 3">Resgate Poupanca</button>
                      <button class="btn btn-sm btn-info" *ngIf="historico.operacao == 4">Transferencia</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #modalTransferencia="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Transferencia
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="modalTransferencia.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset>
          <tab heading="Contas Cadastradas" id="tab1">
            <div style="width: 470px; margin: auto; margin-top: 10px;">
              <form #formTransferencia="ngForm">
                <accordion *ngFor="let historico of historicos">
                  <accordion-group heading="{{ historico.nomeContaDestino }}">
                    <strong>Agencia </strong>
                    {{ historico.digitosAgenciaDestino }}&nbsp; &nbsp; &nbsp;
                    &nbsp; <strong>Conta </strong>
                    {{ historico.digitosContaDestino }}
                    <br />
                    <input
                      style="margin-top: 10px;"
                      name="valorDeposito"
                      [(ngModel)]="helperConta.quantia"
                      required
                      type="text"
                      class="form-control text-center"
                      placeholder="Valor Transferencia"
                    />
                    <br />
                    <accordion-group heading="Transferencia">
                      <input
                        type="text"
                        class="text-center form-control"
                        name="senha"
                        [(ngModel)]="helperConta.senha"
                        required
                        placeholder="Senha"
                      />
                      <button
                        [disabled]="!formTransferencia.valid"
                        style="margin-top: 10px;"
                        (click)="
                          transferencia(
                            modalTransferencia,
                            historico
                          )
                        "
                        class="btn btn-danger btn-block"
                      >
                        Transferir
                      </button>
                    </accordion-group>
                  </accordion-group>
                </accordion>
              </form>
            </div>
          </tab>
          <tab heading="Cadastrar Nova Conta" id="tab1">
            <form [formGroup]="formNewTransferencia" class="form-group">
              <div style=" margin: auto; margin-top: 05px;">
                <input
                  maxlength="5"
                  formControlName="agencia"
                  [(ngModel)]="helperConta.agenciaDestino"
                  type="text"
                  class="form-control text-center"
                  placeholder="Agencia"
                  [ngClass]="{
                    'is-invalid':
                      formNewTransferencia.get('agencia').errors &&
                      formNewTransferencia.get('agencia').touched
                  }"
                />

                <div
                  *ngIf="
                    formNewTransferencia.get('agencia').hasError('required') &&
                    formNewTransferencia.get('agencia').touched
                  "
                  class="invalid-feedback"
                >
                  Agencia e Obrigatória!
                </div>
              </div>
              <p></p>
              <div style=" margin: auto; margin-top: 05px;">
                <input
                  maxlength="8"
                  formControlName="conta"
                  [(ngModel)]="helperConta.contaDestino"
                  type="text"
                  class="form-control text-center"
                  placeholder="Conta"
                  [ngClass]="{
                    'is-invalid':
                      formNewTransferencia.get('conta').errors &&
                      formNewTransferencia.get('conta').touched
                  }"
                />
                <div
                  *ngIf="
                    formNewTransferencia.get('conta').hasError('required') &&
                    formNewTransferencia.get('conta').touched
                  "
                  class="invalid-feedback"
                >
                  Conta e Obrigatória!
                </div>
              </div>
              <p></p>
              <div style="margin-top: 05px;">
                <div style="margin-top: 05px;">
                  <input
                    mask="000.000.000-00"
                    formControlName="cpf"
                    [(ngModel)]="helperConta.cpf"
                    type="text"
                    class="form-control text-center"
                    placeholder="CPF"
                    [ngClass]="{
                      'is-invalid':
                        formNewTransferencia.get('cpf').errors &&
                        formNewTransferencia.get('cpf').touched
                    }"
                  />
                  </div>
                  <p></p>
              </div>
              <div style="margin-top: 05px;">
                <input
                  formControlName="valor"
                  [(ngModel)]="helperConta.quantia"
                  type="text"
                  class="form-control text-center"
                  placeholder="Valor"
                  [ngClass]="{
                    'is-invalid':
                      formNewTransferencia.get('valor').errors &&
                      formNewTransferencia.get('valor').touched
                  }"
                />

                <div
                  *ngIf="
                    formNewTransferencia
                      .get('valor')
                      .hasError('required') &&
                    formNewTransferencia.get('valor').touched
                  "
                  class="invalid-feedback"
                >
                  Valor deve ser obrigatorio!
                </div>
                </div>
                <p></p>
              <div style="margin-top: 05px;">
                <input
                  formControlName="senha"
                  [(ngModel)]="helperConta.senha"
                  type="password"
                  class="form-control text-center"
                  placeholder="Senha"
                  [ngClass]="{
                    'is-invalid':
                      formNewTransferencia.get('senha').errors &&
                      formNewTransferencia.get('senha').touched
                  }"
                />

                <div
                  *ngIf="
                    formNewTransferencia
                      .get('senha')
                      .hasError('required') &&
                    formNewTransferencia.get('senha').touched
                  "
                  class="invalid-feedback"
                >
                  Senha deve ser obrigatorio!
                </div>
                <p></p>
                </div>
              <input
                [disabled]="!formNewTransferencia.valid"
                style="margin-top: 10px;"
                type="submit"
                tooltip="Cadastrar"
                class="btn btn-info btn-block"
                value="Transferir"
                (click)="newTransferencia(modalTransferencia, formNewTransferencia)"
              />
            </form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>



<!-- MODAL DEPOSITAR -->
<div bsModal #modalDeposito="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">Deposito</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDeposito.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <accordion>
          <accordion-group heading="Deposito">
            
            <div class="form-group">
              <div>
                <input type="text" placeholder="Valor"  [(ngModel)]="helperConta.quantia" class="form-control text-center">
              </div>
              <div style="margin-top: 10px;">
                <input type="password" placeholder="Senha"  [(ngModel)]="helperConta.senha" class="form-control text-center border border-danger">
              </div>
              <input style="margin-top: 10px;" (click)="deposito(modalDeposito)" type="submit" value="Depositar" class="btn btn-success btn-sm btn-block">
            </div>

          </accordion-group>
          <accordion-group heading="Deposito TED">
            <div class="form-group">
              <div>
                <select *ngIf="!historico" class="form-control">
                  <option *ngFor="let historico of conta.extrato">{{ historico.nomeConta | titlecase }}</option>
                </select>
                
              </div>
              <div>
                <input type="text" placeholder="Conta" class="form-control text-center">
              </div>
              <div style="margin-top: 10px;">
                <input type="text" placeholder="Agencia" class="form-control text-center">
              </div>
              <div style="margin-top: 10px;">
                <input type="text" placeholder="Valor" class="form-control text-center">
              </div>
            </div>
            <div style="margin-top: 10px;">
              <input type="password" placeholder="Senha" class="form-control text-center">
            </div>
            <p></p>
            <input type="submit" class="btn btn-success btn-block" value="Depositar" (click)="newDeposito(modalDeposito, historico)">
          </accordion-group>
          
        </accordion>

      </div>
    </div>
  </div>
</div>

