<div class="container">
  <div class="row">
    <div style="border-radius: 4px;" class="col-8 border shadow p-3 mb-5 bg-white rounded">
      <div style="padding-top: 12px; padding-bottom: 10px;" class="row">
        <div class="col-3">
          <a
            (click)="abrirModalExtrato(modalExtrato)"
            class="btn btn-outline-info btn-block text-center btn-lg"
            href="#"
            >Extrato</a
          >
        </div>
        <div class="col-5">
          <h3
            style="padding-right: 30px; font-family: Verdana; margin-top: 05px;"
            class="text-center"
          >
            Conta Corrente
          </h3>
        </div>
        <div class="col-4">
          <div class="border border-primary" style="border-radius: 4px;">
            <h5 style="margin-top: 05px;" class="text-center">
              <strong>
                Saldo
              </strong>
              
              {{ valorTotalCorrente | currency: "R$: " }}
            </h5>
          </div>
        </div>
      </div>

      <table class="table table-striped text-center" style="height: 100px;">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Tipo Conta</th>
            <th>Agencia</th>
            <th>Conta</th>
            <th>Saldo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conta of contas">
            <td>{{ conta.nomeConta | titlecase}}</td>
            <td *ngIf="conta.tipoConta == 0"><button class="btn btn-sm btn-success">Corrente</button></td>
            <td *ngIf="conta.tipoConta == 1"><button class="btn btn-sm btn-danger">Poupança</button></td>
            <td>{{ conta.digitosAgencia | mask: '0000-0' }}</td>
            <td>{{ conta.digitosConta | mask: "00.0000-0" }}</td>
            <td>{{ conta.saldo | currency: 'R$: ' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col border shadow p-3 mb-5 bg-white rounded">
      <h3 style="font-family: Verdana; margin-top: 10px;" class="text-center">
        Conta Poupanca
      </h3>
      <hr />
      <div style="height: 135px; padding-top: 10px;" class="row text-center">
        
        <div class="col">
          <button class="btn btn-info" (click)="alternarValorVisivelPoupanca ()">
            <i class="{{ mostrarValorPoupanca ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
            </button>
          <br>
          <br>
          <p class="h5">Valor Em Conta</p>
          <h4 *ngIf="mostrarValorPoupanca" style="margin-top: 20px;" >
            {{ valorTotalPoupanca | currency: "R$: " }}
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 30px;" class="row">
    <div class="col-8">
      <div class="row">
        <div class="col">
          <a tooltip="Deposito" class="btn btn-outline-success btn-lg" (click)="abrirModalDeposito(modalDeposito)"
            >Depositar</a
          >
        </div>
        <div class="col">
          <button class="btn btn-outline-danger btn-lg" tooltip="{{ mensagemTooltipAplicarValor }}" [disabled]="contas.length <= 1" (click)="abrirModalAplicar(modalAplicar)">Aplicar Valor</button>
        </div>
        <div class="col">
          <a
            tooltip="Transferencia"
            (click)="abrirModalTransferencia(modalTransferencia, historico)"
            class="btn btn-outline-info btn-lg"
            href="#"
            >Transferencia</a
          >
        </div>
      </div>
    </div>
    <div class="col text-center">
      <button href="#" class="btn btn-outline-secondary btn-lg" tooltip="{{ mensagemTooltipResgatarValor }}" 
      [disabled]="contas.length <= 1" (click)="abrirModalResgatarValor(modalResgatar)">Resgatar Valor</button>
    </div>
  </div>
</div>

<!-- MODAL EXTRATO -->
<div
  bsModal
  #modalExtrato="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Extrato
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="modalExtrato.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-9">
        <select class="form-control text-center"  [(ngModel)]="mes" >
          <option value="1">JANEIRO</option>
          <option value="2">FEVEREIRO</option>
          <option value="3">MARÇO</option>
          <option value="4">ABRIL</option>
          <option value="5">MAIO</option>
          <option value="6">JUNHO</option>
          <option value="7">JULHO</option>
          <option value="8">AGOSTO</option>
          <option value="9">SETEMBRO</option>
          <option value="10">OUTUBRO</option>
          <option value="11">NOVEMBRO</option>
          <option value="12">DEZEMBRO</option>
        </select>
      </div>
      <div class="col-3">
      <input type="submit" class="btn btn-success btn-block" value="Pesquisar" (click)="enviarMes()">
    </div>  
    </div>
      </div>
      <div class="modal-body">
        <tabset>
          <tab heading="Conta Corrente" id="tab">
            <div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Data Transacao</th>
                    <th>Valor Transacao</th>
                    <th>Descricao Transacao</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let historico of historicoByMesCorrente | paginate: { id: 'paginationExtrato',
                  itemsPerPage: 6,
                  currentPage: pageAtualExtrato } ">
                    <td>{{ historico.dataTransacao | date: 'dd/MM/yyyy hh:mm' }}</td>
                    <td>{{ historico.valor | currency: 'R$: ' }}</td>
                    <td>
                      <button class="btn btn-sm btn-danger btn-block" *ngIf="historico.operacao == 0">Saque</button>
                      <button class="btn btn-sm btn-secondary btn-block" *ngIf="historico.operacao == 1">Deposito</button>
                      <button class="btn btn-sm btn-success btn-block" *ngIf="historico.operacao == 2">Apliacao Poupanca</button>
                      <button class="btn btn-sm btn-dark btn-block" *ngIf="historico.operacao == 3">Recebimento de Resgate Poupanca</button>
                      <button class="btn btn-sm btn-info btn-block" *ngIf="historico.operacao == 4">Transferencia</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="historicoByMesCorrente.length">  
            <pagination-controls
              id="paginationExtrato"
              (pageChange)="pageAtualExtrato = $event"
              previousLabel="Anterior"
              nextLabel="Proximo"
            ></pagination-controls>
          </div>
          <div *ngIf="!historicoByMesCorrente.length" >
            <h2 class="">Sem Historico Para Essa Data</h2>
          </div>
          </tab>

          <tab heading="Conta Poupanca" id="tab">
            <div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Data Transacao</th>
                    <th>Valor Transacao</th>
                    <th>Descricao Transacao</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let historico of historicoByMesPoupanca | paginate: { id: 'paginationExtratoPoupanca',
                  itemsPerPage: 6,
                  currentPage: pageAtualExtratoPoupanca } ">
                    <td>{{ historico.dataTransacao | date: 'dd/MM/yyyy hh:mm' }}</td>
                    <td>{{ historico.valor | currency: 'R$: ' }}</td>
                    <td>
                      <button class="btn btn-sm btn-danger btn-block" *ngIf="historico.operacao == 0">Saque</button>
                      <button class="btn btn-sm btn-secondary btn-block" *ngIf="historico.operacao == 1">Deposito</button>
                      <button class="btn btn-sm btn-success btn-block" *ngIf="historico.operacao == 2">Recebimento Aplicação Corrente</button>
                      <button class="btn btn-sm btn-dark btn-block" *ngIf="historico.operacao == 3">Resgate Poupanca</button>
                      <button class="btn btn-sm btn-info btn-block" *ngIf="historico.operacao == 4">Transferencia</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="historicoByMesPoupanca.length">  
            <pagination-controls
              id="paginationExtratoPoupanca"
              (pageChange)="pageAtualExtratoPoupanca = $event"
              previousLabel="Anterior"
              nextLabel="Proximo"
            ></pagination-controls>
          </div>
          <div *ngIf="!historicoByMesPoupanca.length" >
            <h2 class="">Sem Historico Para Essa Data</h2>
          </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>



<div
  bsModal
  #modalTransferencia="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Transferencia
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="modalTransferencia.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset>
          <tab heading="Contas Cadastradas" id="tab1">
            <div style="width: 470px; margin: auto; margin-top: 10px;">
              <form [formGroup]="formDeposito">
                <accordion *ngFor="let conta of contaTransferencia | paginate: { id: 'paginationTransferencia',
                itemsPerPage: 4,
                currentPage: pageAtualTransferencia }">
                  <accordion-group heading="{{ conta.nomeConta }}">
                    <strong>Agencia </strong>
                    {{ conta.digitosAgencia }}&nbsp; &nbsp; &nbsp;
                    &nbsp; <strong>Conta </strong>
                    {{ conta.digitosConta }}
                    <br />
                    <div>
                    <input
                      style="margin-top: 10px;"
                      formControlName="quantia"
                      required
                      type="text"
                      [ngClass]="{
                        'is-invalid':
                          formDeposito.get('quantia').errors && formDeposito.get('quantia').touched
                      }"
                      class="text-center form-control"
                      placeholder="Valor da Transferencia"
                    />
                      
                    <div
                    *ngIf="formDeposito
                        .get('quantia')
                        .hasError('min') &&
                      formDeposito.get('quantia').touched
                    "
                    class="invalid-feedback"
                  >
                    Valor deve maior que 0! 
                    </div>
                    <div
                      *ngIf="
                        formDeposito
                          .get('quantia')
                          .hasError('required') &&
                        formDeposito.get('quantia').touched
                      "
                      class="invalid-feedback"
                    >
                      Valor deve ser obrigatorio!
                    </div>
                  </div>
                  <p></p>
                      <input
                        type="password"
                        class="text-center form-control"
                        formControlName="senha"
                        placeholder="Senha"
                        [ngClass]="{
                          'is-invalid':
                            formDeposito.get('senha').errors && formDeposito.get('senha').touched
                        }"
                      />
                      <div
                      *ngIf="
                        formDeposito
                          .get('senha')
                          .hasError('required') &&
                        formDeposito.get('senha').touched
                      "
                      class="invalid-feedback"
                    >
                      Senha deve ser obrigatorio!
                    </div>
                      <button
                        [disabled]="!formDeposito.valid"
                        style="margin-top: 10px;"
                        (click)="
                          transferencia(
                            modalTransferencia,
                            conta
                          )
                        "
                        class="btn btn-danger btn-block"
                      >
                        Transferir
                      </button>
                    </accordion-group>
                </accordion>
<br>
            <div *ngIf="contaTransferencia.length" class="text-right">
              <pagination-controls
              id="paginationTransferencia"
              (pageChange)="pageAtualTransferencia = $event"
              previousLabel="Anterior"
              nextLabel="Proximo"
            ></pagination-controls>
            </div>

          <div *ngIf="!contaTransferencia.length">
            <h2 class="">Nenhuma Conta Cadastrada</h2>
          </div>
              </form>
            </div>
          </tab>
          <tab heading="Cadastrar Nova Conta" id="tab1">
            <form [formGroup]="formNewTransferencia" class="form-group">
              <div style=" margin: auto; margin-top: 05px;">
                <input
                  maxlength="5"
                  formControlName="agenciaDestino"
                  type="text"
                  class="form-control text-center"
                  placeholder="Agencia"
                  [ngClass]="{
                    'is-invalid':
                      formNewTransferencia.get('agenciaDestino').errors && formNewTransferencia.get('agenciaDestino').touched
                  }"
                />

                
                <div
                  *ngIf="
                    formNewTransferencia
                      .get('agenciaDestino')
                      .hasError('required') &&
                    formNewTransferencia.get('agenciaDestino').touched
                  "
                  class="invalid-feedback"
                >
                  Agencia deve ser obrigatorio!
                </div>
              </div>
              <p></p>
              <div style=" margin: auto; margin-top: 05px;">
                <input
                  maxlength="8"
                  formControlName="contaDestino"
                  type="text"
                  class="form-control text-center"
                  placeholder="Conta"
                  [ngClass]="{
                    'is-invalid':
                      formNewTransferencia.get('contaDestino').errors && formNewTransferencia.get('contaDestino').touched
                  }"
                />
                <div
                  *ngIf="
                    formNewTransferencia
                      .get('contaDestino')
                      .hasError('required') &&
                    formNewTransferencia.get('contaDestino').touched
                  "
                  class="invalid-feedback"
                >
                  Conta deve ser obrigatorio!
                </div>
              </div>
              <p></p>
              <div style="margin-top: 05px;">
                <div style="margin-top: 05px;">
                  <input
                    mask="000.000.000-00"
                    formControlName="cpf"
                    type="text"
                    class="form-control text-center"
                    placeholder="CPF"
                    [ngClass]="{
                      'is-invalid':
                        formNewTransferencia.get('cpf').errors && formNewTransferencia.get('cpf').touched
                    }"
                  />
                  <div
                  *ngIf="
                    formNewTransferencia
                      .get('cpf')
                      .hasError('required') &&
                    formNewTransferencia.get('cpf').touched
                  "
                  class="invalid-feedback"
                >
                  CPF deve ser obrigatorio!
                </div>
                  </div>
                  <div
                  *ngIf="
                    formNewTransferencia
                      .get('cpf')
                      .hasError('required') &&
                    formNewTransferencia.get('cpf').touched
                  "
                  class="invalid-feedback"
                >
                  CPF deve ser obrigatorio!
                </div>
                  <p></p>
              </div>
              <div style="margin-top: 05px;">
                <input
                  formControlName="quantia"
                  type="text"
                  class="form-control text-center"
                  placeholder="Valor"
                  [ngClass]="{
                    'is-invalid':
                      formNewTransferencia.get('quantia').errors && formNewTransferencia.get('quantia').touched
                  }"
                />

                <div
                  *ngIf="
                    formNewTransferencia
                      .get('quantia')
                      .hasError('required') &&
                    formNewTransferencia.get('quantia').touched
                  "
                  class="invalid-feedback"
                >
                  Valor deve ser obrigatorio!
                </div>
                <div
                  *ngIf="
                    formNewTransferencia
                      .get('quantia')
                      .hasError('required') &&
                    formNewTransferencia.get('quantia').touched
                  "
                  class="invalid-feedback"
                >
                  Valor deve ser maior que 0.
                </div>
                </div>
                <p></p>
              <div style="margin-top: 05px;">
                <input
                        type="password"
                        class="text-center form-control"
                        formControlName="senha"
                        required
                        placeholder="Senha"
                        [ngClass]="{
                          'is-invalid':
                            formNewTransferencia.get('senha').errors && formNewTransferencia.get('senha').touched
                        }"
                      />
                <p></p>
                <div
                  *ngIf="
                    formNewTransferencia
                      .get('senha')
                      .hasError('required') &&
                    formNewTransferencia.get('senha').touched
                  "
                  class="invalid-feedback"
                >
                  Senha deve ser obrigatoria!
                </div>
                </div>
              <input
                [disabled]="!formNewTransferencia.valid"
                style="margin-top: 10px;"
                type="submit"
                tooltip="Cadastrar"
                class="btn btn-info btn-block"
                value="Transferir"
                (click)="newTransferencia(modalTransferencia)"
              />
            </form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>



<!-- MODAL DEPOSITAR -->
<div bsModal #modalDeposito="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">Deposito</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDeposito.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <accordion>
          <accordion-group heading="Deposito">
            <form [formGroup]="formDeposito">
            <div class="form-group">
              <div>
                <input
                    type="text"
                    [ngClass]="{
                      'is-invalid':
                        formDeposito.get('quantia').errors && formDeposito.get('quantia').touched
                    }"
                    class="form-control text-center"
                    formControlName="quantia"
                    placeholder="Valor"
                  />
                  <div
                    *ngIf="
                      formDeposito.get('quantia').hasError('min') &&
                      formDeposito.get('quantia').touched
                    "
                    class="invalid-feedback"
                  >
                    Valor deve ser maior que 0!
                  </div>
                  <div
                    *ngIf="
                      formDeposito.get('quantia').hasError('required') &&
                      formDeposito.get('quantia').touched
                    "
                    class="invalid-feedback"
                  >
                    Valor é Obrigatório!!
                  </div>
              </div>
              <div style="margin-top: 10px;">
                <input
                    type="password"
                    [ngClass]="{
                      'is-invalid':
                        formDeposito.get('senha').errors && formDeposito.get('senha').touched
                    }"
                    class="form-control text-center"
                    formControlName="senha"
                    placeholder="Senha"
                  />
                  <div
                    *ngIf="
                      formDeposito.get('senha').hasError('required') &&
                      formDeposito.get('senha').touched
                    "
                    class="invalid-feedback"
                  >
                    Senha é Obrigatória!!
                  </div>
              </div>
              <input style="margin-top: 10px;" [disabled]="!formDeposito.valid" (click)="deposito(modalDeposito)" type="submit" value="Depositar" class="btn btn-success btn-block">
            </div>
          </form>
          </accordion-group>
        </accordion>

      </div>
    </div>
  </div>
</div>

<!-- MODAL RESGATAR -->
<div bsModal #modalResgatar="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">Resgatar Valor</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalResgatar.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <accordion>
          <accordion-group heading="Resgatar Valor">
            <form [formGroup]="formDeposito">
            <div class="form-group">
              <div>
                <input type="text" placeholder="Valor" formControlName="quantia" class="form-control text-center"
                [ngClass]="{
                  'is-invalid':
                    formDeposito.get('quantia').errors && formDeposito.get('quantia').touched
                }"
                >
                <div
                  *ngIf="
                    formDeposito
                      .get('quantia')
                      .hasError('required') &&
                    formDeposito.get('quantia').touched
                  "
                  class="invalid-feedback"
                >
                  Valor deve ser obrigatorio!
                </div>
                <div
                  *ngIf="
                    formDeposito
                      .get('quantia')
                      .hasError('min') &&
                    formDeposito.get('quantia').touched
                  "
                  class="invalid-feedback"
                >
                  Valor deve ser maior que 0!
                </div>
              </div>
              <div style="margin-top: 10px;">
                <input type="password" placeholder="Senha" formControlName="senha"  class="form-control text-center"
                [ngClass]="{
                  'is-invalid':
                    formDeposito.get('senha').errors && formDeposito.get('senha').touched
                }"
                >
                <div
                  *ngIf="
                    formDeposito
                      .get('senha')
                      .hasError('required') &&
                    formDeposito.get('senha').touched
                  "
                  class="invalid-feedback"
                >
                  Senha deve ser obrigatorio!
                </div>
              </div>
              <input style="margin-top: 10px;" [disabled]="!formDeposito.valid" (click)="resgatarValor(modalResgatar)" 
              type="submit" value="Resgatar Valor" class="btn btn-success btn-block">
            </div>
            </form>
          </accordion-group>
        </accordion>

      </div>
    </div>
  </div>
</div>



<!-- MODAL APLICAR -->
<div bsModal #modalAplicar="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">Aplicacao Poupanca</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAplicar.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <accordion>
          <accordion-group heading="Aplicar Poupanca">
            <form [formGroup]="formDeposito">
            <div class="form-group">
              <div>
                <input 
                type="text" placeholder="Valor" formControlName="quantia" class="form-control text-center"
                [ngClass]="{
                  'is-invalid':
                    formDeposito.get('quantia').errors && formDeposito.get('quantia').touched
                }"
                >
                <div
                  *ngIf="
                    formDeposito
                      .get('quantia')
                      .hasError('required') &&
                    formDeposito.get('quantia').touched
                  "
                  class="invalid-feedback"
                >
                  Valor deve ser obrigatorio!
                </div>
              </div>
              <div style="margin-top: 10px;">
                <input type="password" placeholder="Senha" formControlName="senha"  class="form-control text-center"
                [ngClass]="{
                  'is-invalid':
                    formDeposito.get('senha').errors && formDeposito.get('senha').touched
                }"
                >
                <div
                  *ngIf="
                    formDeposito
                      .get('senha')
                      .hasError('required') &&
                    formDeposito.get('senha').touched
                  "
                  class="invalid-feedback"
                >
                  Senha deve ser obrigatorio!
                </div>
              </div>
              <input style="margin-top: 10px;" [disabled]="!formDeposito.valid" type="submit" (click)="aplicarPoupanca(modalAplicar)" value="Aplicar Poupanca" class="btn btn-success btn-block">
            </div>
            </form>
          </accordion-group>
        </accordion>

      </div>
    </div>
  </div>
</div>

<div class="my-container">
  <ng-template #customLoadingTemplate>
      <div class="">
        <br>
        <br>
          <h4 class="text-center">Carregando</h4>
      </div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>