<div style="margin-top: 20px;" class="border rounded-bottom shadow-lg p-3 mb-5 bg-white rounded">
  <form [formGroup]="form">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <input class="form-control text-center" formControlName="nomeConta" type="text" placeholder="Nome Conta" />
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input class="form-control text-center" formControlName="cpf" type="text" mask="000.000.000-00" formControlName="cpf" id="" placeholder="CPF" />
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <select formControlName="tipoConta" class="form-control">
          <option value="0" >Corrente</option>
          <option value="1" >Poupanca</option>
        </select>
      </div>
      <div class="col-9">
        <input class="form-control text-center" type="password" placeholder="Senha" formControlName="senha"/>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-10">
        <div id="collapseBasic" [collapse]="isCollapsed">
          <div>
            <input type="text" formControlName="cep" class="form-control text-center" placeholder="CEP">
          </div>
        </div>
    </div>
      <div class="col-2">
        <button
          type="button"
          class="btn btn-block btn-primary"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseBasic"
        >
        <span *ngIf="isCollapsed">Abrir</span>
        <span *ngIf="!isCollapsed">Fechar</span>
        </button>
      </div>
    </div>
  </div>
  <button class="form-control btn btn-success" type="submit" (click)="solicitar()">Solicitar</button>
</form>
</div>



<div class="my-container">
  <ng-template #customLoadingTemplate>
      <div class="">
        <br>
        <br>
          <h4 class="text-center">Carregando</h4>
      </div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>